@page
@model PRN231_FinalProject_Client.Pages.PaymentReminders.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>PaymentReminders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PaymentReminder.ReminderId" />
            <div class="form-group">
                <label asp-for="PaymentReminder.ReminderDate" class="control-label"></label>
                <input asp-for="PaymentReminder.ReminderDate" class="form-control" />
                <span asp-validation-for="PaymentReminder.ReminderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentReminder.Description" class="control-label"></label>
                <input asp-for="PaymentReminder.Description" class="form-control" />
                <span asp-validation-for="PaymentReminder.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="PaymentReminder.UserId" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
